<div>
  <h1 class="font-bold text-4xl">Home#buttons</h1>
  <p>Find me in app/views/home/buttons.html.erb</p>
</div>

<b>A link:</b>

<br>

<%= link_to root_path, class: 'btn btn-danger btn-sm' do %>
  <%= image_tag 'plus-circle.svg', class: 'h-6 w-6' %>
  Homepage
<% end %>

<%= link_to root_path, class: 'btn btn-danger' do %>
  <%= image_tag 'plus-circle.svg', class: 'h-6 w-6' %>
  Homepage
<% end %>

<%= link_to root_path, class: 'btn btn-danger btn-lg' do %>
  <%= image_tag 'plus-circle.svg', class: 'h-6 w-6' %>
  Homepage
<% end %>

<div class="inline-flex gap-2">
  <%= link_to root_path, class: 'btn btn-primary' do %>
    <%= image_tag 'plus-circle.svg', class: 'h-6 w-6' %>
    Homepage
  <% end %>
  <%= link_to root_path, class: 'btn btn-danger' do %>
    <%= image_tag 'plus-circle.svg', class: 'h-6 w-6' %>
    Homepage
  <% end %>
</div>

<div class="flex gap-2">
  <%= link_to root_path, class: 'btn btn-danger' do %>
    <%= image_tag 'plus-circle.svg', class: 'h-6 w-6' %>
    Homepage
  <% end %>
  <%= link_to root_path, class: 'btn btn-danger' do %>
    <%= image_tag 'plus-circle.svg', class: 'h-6 w-6' %>
    Homepage
  <% end %>
</div>

<br>

<b>A button:</b>

<br>

<%= button_to root_path, class: 'btn btn-primary', disabled: true do %>
  <%= image_tag 'plus-circle.svg', class: 'h-6 w-6' %>
  Homepage
<% end %>
