<nav class="sticky bottom-0 bg-white flex md:hidden justify-around items-center py-3">
  <%= link_to root_path, class: 'w-10 h-10' do %>
    <%= image_tag 'plus-circle.svg' %>
  <% end %>
  <%= link_to root_path, class: 'w-10 h-10' do %>
    <%= image_tag 'plus-circle.svg' %>
  <% end %>
  <%= link_to root_path, class: 'w-10 h-10' do %>
    <%= image_tag 'plus-circle.svg' %>
  <% end %>
  <%= link_to root_path, class: 'w-10 h-10' do %>
    <%= image_tag 'plus-circle.svg' %>
  <% end %>
  <%= link_to root_path, class: 'w-10 h-10' do %>
    <%= image_tag 'plus-circle.svg' %>
  <% end %>
</nav>