<!DOCTYPE html>
<html>
  <head>
    <title>Tailwindui</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-slate-500">
    <%= render 'layouts/navbar' %>
    <div class="bg-slate-300 flex">
      <%= render 'layouts/sidebar' %>
      <main class="bg-slate-500 w-5/6 p-4 flex-grow">
        <%= Time.zone.now %>
        <%= render 'layouts/modal' %>
        <%= yield %>
      </main>
    </div>
    <%= render 'layouts/mobile_footer_nav' %>
  </body>
</html>
