<!DOCTYPE html>
<html>
  <head>
    <title>Tailwindui</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-slate-500">
    <div class="sticky top-0 z-10" data-controller="navbar" data-action="resize@window->navbar#closeOnBigScreen keyup@window->navbar#closeWithKeyboard">
      <nav class="bg-slate-200 p-4 flex justify-between h-20 items-center ">
        <div class="">
          logo
        </div>
        <div class="flex space-x-2 items-center">
          <div class="">
            email
          </div>
          <div class="md:hidden text-3xl" role="button" data-action="click->navbar#toggle">
            &#9776;
          </div>
        </div>
      </nav>
      <%# <nav class="bg-rose-300 hidden absolute w-2/3 right-4 text-center h-80 overflow-y-auto" data-navbar-target="content"> %>
      <nav class="bg-rose-300 hidden absolute w-full text-center h-80 overflow-y-auto" data-navbar-target="content">
        dropdown
        <% (300..400).each do |i| %>
          <p><%= i%></p>
        <% end %>
      </nav>
    </div>
    <div class="bg-slate-300 flex">
      <nav class="bg-slate-400 w-1/6 hidden md:flex flex-col text-center p-4 justify-between sticky top-20 h-[calc(100vh-80px)]">
        <div>
          sidebar top
        </div>
        <div>
          sidebar bottom
        </div>
      </nav>
      <main class="bg-slate-500 w-5/6 p-4 flex-grow">
        2-column layout with fixed widths
        <div class="flex flex-col md:flex-row gap-4">
          <div class="w-full md:w-3/4">
            <% (1..10).each do |i| %>
              <div class="bg-rose-400">
                <%= i%>
              </div>
            <% end %>
          </div>
          <div class="w-full md:w-1/4">
            <% (11..20).each do |i| %>
              <div class="bg-rose-300">
                <%= i%>
              </div>
            <% end %>
          </div>
        </div>

        2-column layout with max width for first element
        <div class="flex flex-col md:flex-row gap-4">
          <div class="flex-1">
            <% (101..110).each do |i| %>
              <div class="bg-rose-400">
                <%= i%>
              </div>
            <% end %>
          </div>
          <div class="">
            <% (111..120).each do |i| %>
              <div class="bg-rose-300">
                <%= i%>
              </div>
            <% end %>
          </div>
        </div>

        centered
        <div class="mx-auto w-full md:w-2/3">
          <% (201..210).each do |i| %>
            <div class="bg-rose-300">
              <%= i%>
            </div>
          <% end %>
        </div>

        responsive grid
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 bg-rose-200 gap-2">
          <% (301..310).each do |i| %>
            <div class="bg-rose-300">
              <%= i%>
            </div>
          <% end %>
        </div>
        <%= yield %>
      </main>
    </div>
  </body>
</html>
